:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* Aplicar Poppins */
  background-color: #EFEFEF; /* Tu color "Claro" de la paleta */
  color: #0A3143; /* Tu color "Oscuro" para texto base */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

button, input, select, textarea {
  font-family: inherit;
}